<footer>
    <div class="row">
        <div class="col-full">

            <ul class="footer-social">
                <li>
                    <a href="https://github.com/sevvaltorun"><i class="im im-github" aria-hidden="true"></i><span>Github</span></a>
                </li>
                <li>
                    <a href="https://www.youtube.com"><i class="im im-youtube" aria-hidden="true"></i><span>Youtube</span></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/devsev.co"><i class="im im-instagram" aria-hidden="true"></i><span>Instagram</span></a>
                </li>
            </ul>

        </div>
    </div>


</footer>