<div class="sidebar">
    <div class="scrollbar-inner sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src="~/Ready-Bootstrap-Dashboard-master/assets/img/sevvaltorun.jpg">
            </div>
            <div class="info">
                <a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                    <span>
                        Şevval Törün
                        <span class="user-level">Admin</span>
                        <span class="caret"></span>
                    </span>
                </a>
                <div class="clearfix"></div>

                <div class="collapse in" id="collapseExample" aria-expanded="true" style="">
                    <ul class="nav">
                        <li>
                            <a href="/Default/Index/">
                                <span class="link-collapse">Benim Profilim</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a href="/Default/Index/">
                    <i class="la la-home"></i>
                    <p>Siteye Git</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/StatisticAdmin/StatisticIndex">
                    <i class="la la-bar-chart"></i>
                    <p>İstatistik</p>
                    
                </a>
            </li>
            <li class="nav-item">
                <a href="/ExperienceAdmin/ExperienceList">
                    <i class="la la-fonticons"></i>
                    <p>Deneyimler</p>
                </a>
            </li>
            
            <li class="nav-item">
                <a href="/Skill/Skill">
                    <i class="la la-code"></i>
                    <p>Yeteneklerim</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Certificate/CertificateList">
                    <i class="la la-certificate"></i>
                    <p>Sertifikalar</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Reference/ReferenceList">
                    <i class="la la-chain"></i>
                    <p>Referanslar</p>
                </a>
            </li>
        </ul>
    </div>
</div>