@model Skill
@{
    ViewData["Title"] = "CreateSkill";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Yeteneklerim</h4>
        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Yetenklerimin Listesi</div>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <input type="hidden" asp-for="SkillId" />
                            <label>Ytenek adı</label>
                            <input type="text" asp-for="Title" class="form-control" />
                            <br />
                            <label>Oranı</label>
                            <input type="text" asp-for="Value" class="form-control" />
                            <br />
                
                            <button class="btn btn-primary">yeteneği Ekle</button>
                        </form>


                    </div>

                </div>

            </div>
        </div>
    </div>
